* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 800px;
    height: 600px;
    background-color: #000;
    position: relative;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
}

#play-area {
    width: 100%;
    height: 450px;
    margin-top: 75px;
    
    /* Підключаємо твій фон */
    background-image: url('bg.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}


body {
    font-family: 'Courier New', Courier, monospace; /* Ретро-шрифт */
    color: white;
}


.hud {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}


#message-box {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 10px 25px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 15px;
    z-index: 10;
}

#result-screen {
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

#result-title {
    font-size: 50px;
    color: #e74c3c;
    margin-bottom: 20px;
}

#result-text {
    font-size: 24px;
    margin-bottom: 40px;
    white-space: pre-line;
}

#start-btn {
    padding: 15px 40px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 4px solid #aaa;
    transition: 0.2s;
}

#start-btn:hover {
    background: #ccc;
}

.hidden {
    display: none !important;
}


#gunman {
    width: 31px; 
    height: 75px;
    position: absolute;
    bottom: 210px;
    left: 50%; 
    
    transform: translateX(-50%) scale(3.5); 
    
    background-image: url('gunman.png');
    background-repeat: no-repeat;
    cursor: crosshair;
    image-rendering: pixelated; 
}

.idle {
    background-position: 1px -68px; 
}

.shooting {
    background-position: -100px -68px; 
}

.dead {
    background-position: -238px -68px; 
}

.walking {
    animation: move-legs 0.4s infinite, move-body 1.5s linear forwards;
}

@keyframes move-legs {
    0%, 49.9% { background-position: -32px -67px; } 
    50%, 100% { background-position: -66px -67px; } 
}

@keyframes move-body {
    from { left: -10%; } 
    to { left: 50%; } 
}