body {
    background-color: #f5fff5;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin: 25px 0;
}

th, td {
    padding: 15px;
}


thead th:first-child {
    background-color: #d0f0c0;
}

thead th:nth-child(2) {
    background-color: #a7d7a7;
}

thead th:nth-child(3) {
    background-color: #8bc34a;
}

thead th:nth-child(4) {
    background-color: #7cb342;
}

thead th:nth-child(5) {
    background-color: #689f38;
}

tbody th {
    background-color: #d0f0c0;
}

tbody td {
    background-color: #e8f5e9;
}