
ul {
  list-style: none; /* Прибираємо маркери списків */
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --font-main: 'Roboto', sans-serif;

  --color-text-primary: #444444;
  --color-text-secondary: #777777;
  --color-border: #e0e0e0;


  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

body {
  font-family: var(--font-main), serif;
  color: var(--color-text-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}

.weather-widget {
  width: 480px;
  padding: var(--spacing-lg) var(--spacing-lg) 0 var(--spacing-lg);
}

.header-weather-widget {
  margin-bottom: var(--spacing-lg);
}

.widget-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 2px;
}

.widget-date, .title-forecast {
  margin: 0;
  font-size: 15px;
  color: var(--color-text-secondary);
  line-height: 1.4;
}

.block-current-weather {
  display: flex;
  align-items: center;
  gap: 40px;
}

.forecast-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.current-temp {
  font-size: 64px;
  font-weight: 300;
  color: #555;
  position: relative;
  line-height: 1;
}

.unit {
  color: var(--color-text-secondary);
  font-size: 24px;
  vertical-align: top;
  position: absolute;
  top: 4px;
  left: 100%;
}

.list-current-weather {
  margin: 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-current-weather li {
  font-size: 13px;
  color: var(--color-text-secondary);
  line-height: 1.4;
}

.forecast-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.forecast-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  position: relative;
}

.forecast-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

.forecast-item:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

.day-name {
  width: 20%;
  font-weight: 700;
  font-size: 14px;
  color: #444;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}


.temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.temp-wrapper .high {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 3px;
}

.temp-wrapper .low {
  font-size: 13px;
  color: var(--color-text-secondary);
  margin: 3px;
}

.pollen-info {
  width: 20%;
  font-size: 14px;
  color: var(--color-text-secondary);
}


.icon {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-large {
  width: 80px;
  height: 80px;
}


.icon-sunny {
  background-image: url('icons/icon1.png');
}

.icon-partly-sunny {
  background-image: url('icons/icon2.png');
}

.icon-partly-cloudy {
  background-image: url('icons/icon3.png');
}

.icon-cloudy {
  background-image: url('icons/icon4.png');
}

.icon-rain-small {
  background-image: url('icons/icon5.png');
}

.icon-rain {
  background-image: url('icons/icon6.png');
}

.icon-storm {
  background-image: url('icons/icon7.png');
}

.icon-lightning {
  background-image: url('icons/icon8.png');
}

.icon-moon-cloud {
  background-image: url('icons/icon9.png');
}

.icon-precipitation-small {
  background-image: url('icons/icon10.png');
}

.icon-precipitation-medium {
  background-image: url('icons/icon11.png');
}

.icon-precipitation-large {
  background-image: url('icons/icon12.png');
}

.icon-stars-cloud {
  background-image: url('icons/icon13.png');
}

.icon-extra-hot {
  background-image: url('icons/icon14.png');
}